#sidebar{
    position: fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 230px;
    margin-left: 10px;  
    z-index: 10;
    overflow-y: scroll;
    background-color: rgb(15, 15, 15);
}

#side-button{
    display: flex;
    padding-bottom: 2px;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 15px;
    align-items: center;
    cursor: pointer;
}

#side-button::selection{
    background-color: rgb(61, 61, 61);
}

#side-button:hover{
    background-color: rgb(39, 39, 39);
}

#sideText{
    padding-left: 20px;
}

#side1-4{
    padding-bottom: 15px;
}

#side-line{
    background-color: rgb(61, 61, 61);
    border: none;
    width: 200px;
    border-radius: 100px;
    padding-bottom: 0px;
}

#sub-icon{
    margin-left: 10px;
    height: 30px;
    border-radius: 200px;
    
}

#sideIcon{
    height: 25px;
    padding-left: 10px;
}

#sub-head{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    color: white;
    padding-left: 20px;
    height: 40px;
}
#you{
    display: inline-block;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    
}

#home{
    
    display: inline-block;
    color: white;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}


